p{
    color: aliceblue;
}
.mainframe{
    width: 1300px;
    margin: 0 auto;
    
}
#my_pic{
    height: auto;
    width: 100%;
    opacity: 20%;
}
#contact{
    max-width: 30pc;
    
    background-color: rgba(215, 209, 200, 0.158);
    margin-top: -40pc;
    margin-bottom: 14.3pc;
    position: relative;
    left: 40%; /* IMPORTANT */
    margin-left: -375px;
    border-radius: 30px 0px 30px 0px;
}
#myself{
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(175, 217, 217);
    font-size: 17px;
    font-style: italic;
    
    
}
