.blogposts{
    margin-left: 15%;

   
}
@media screen and (max-width:500px) {
        .blogposts{margin: 10px;}
        .parent_frame{margin-bottom: 1pc;}
        
    }

.parent_frame{
        width: 1300px;
    margin: 0 auto;
}    