.blogposts{
    margin-left: 15%;

   
}
@media screen and (max-width:500px) {
        .blogposts{margin: 10px;
                   margin-bottom: -20pc;}
        .parent_frame{width: 500px;}
        
    }

.parent_frame{
        width: 1300px;
    margin: 0 auto;
}    