.card{
    background-image: linear-gradient(to right,#055d85, #0ce1e1);
    min-height: 2pc;
    margin: 1pc;
    width: 2pc;
}
.card-img-top{
    margin: 0px;
    height: 10pc;
    width: 13pc;
    margin-left: 15px;
    margin-top: 10px;
}