.navmain{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.841);
    
    height: 60px;
}
.navname{
    display: flex;
    max-width: 300px;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 500;
}
.links{
    margin-right: 40px;
    display: flex;
    justify-content:flex-end;

}

.a2{
    margin: 20px 20px 0px 20px;
    font-size: 15px;
    color: rgb(0, 255, 255);
    text-decoration: none;
    height: 1cm;
    
    border-bottom-style:groove;
   
    border-color: rgb(223, 238, 238);
    
  
    
 
}
.a1{
    margin: 20px 20px 0px 20px;
    font-size: 15px;
    color: rgb(109, 178, 178);
    text-decoration: none;
}




  a:hover {
    color: rgb(184, 201, 215);
    
  }
/* 
@media screen and (max-width:500px) {
    .navmain{width: 0px;}
    
} */

