.frame_main_{
    width: 50%;
    height: 70pc;
    margin-left: 30pc;
    margin-top: 5pc;
    margin-bottom: 5pc;
    
    background-color: rgba(255, 255, 255, 0.185); 
    
    text-align: center;
    background-size: cover;
    background-position: center;

}
.bloghead{
    margin-top: 30px;
    font-size: 50px;
}
.info{
    color: #ffffff;
    margin: 18px;
    font-size: 20px;
    margin-top: 80px;
    
}
.img{
    height: 20pc;
    width: auto;
    margin-top: 40px;
}

