.frame_main_{
    width: 50pc;
    height: 50pc;
    
 
    
    background-color: rgba(86, 213, 222, 0.717); 
    
    text-align: center;
    background-size: cover;
    background-position: center;

}
.bloghead{
    color: rgb(68, 223, 133);
    margin-top: 30px;
    font-size: 40px;
}
.info{
    color: #ffffff;
    margin: 18px;
    font-size: 15px;
    margin-top: 80px;
    
}
.img{
    height: auto;
    width: 30pc;
    margin-top: 40px;
}

@media screen and (max-width:500px) {
    .frame_main_{width: 24.5pc;}
    .img{width: 20pc;}
    .info{font-size: 12px;}
    
}