.footer{
    display:flex;
    justify-content: space-between;
    background-color: rgb(48, 44, 60);
    height: 15pc;
    color: aliceblue;


}
.social{
    margin-top: 2pc;
    font-size: 20px;

}
.contact{
    margin-right: 2pc;
    margin-top: 2pc;

font-size: 20px;
}
#item{
   
    font-size: 20px;
    margin-top: 1pc;

}
#company{
    margin-top: 5pc;
    margin-left: 1pc;
    font-weight: 500;
    font-size: 30px;
}