.footer{
    width: 1300px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    background-color: rgb(48, 44, 60);
    height: 9pc;
    color: aliceblue;


}
.company{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}
.social{
    margin-top: 20px;
    margin-right: 50px;   
    font-size: 20px;

}


#linkname{
    text-decoration: none;
    color: azure;
    margin-left: 0px;
    }

#item{
   
    font-size: 20px;
    margin-top: opc;

}

@media screen and (max-width:500px) {
    .company{font-size: 15px;}
    
}

