.footer{
    display:flex;
    justify-content: space-between;
    background-color: rgb(48, 44, 60);
    height: 9pc;
    color: aliceblue;


}
.social{
    margin-top: 20px;
    margin-right: 8pc;
    font-size: 20px;

}
#linkname{
    text-decoration: none;
    color: azure;
    margin-left: 5px;
    }

#item{
   
    font-size: 20px;
    margin-top: opc;

}
#company{
    margin-top: 3pc;
    margin-left: 5pc;
    font-weight: 500;
    font-size: 20px;
}