.cover{
    width: 120pc;
    height: 50pc;
}
.mypic{
    margin-top: -35.5pc;
    margin-left: 0pc;
    height: 40pc;
    width: 30pc;
}
.name{
    display: flex;
    position: relative;
    margin-left: 60pc;
    margin-top: -40pc;
    font-size: 5cm;
    color: rgb(226, 234, 74);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.info{
    height: 50pc;
 
     margin: 1%;
     display: flex;
}
.frame_1{
    background: transparent;
    backdrop-filter: blur(100px);
    height: 40pc;
    width: 47%;
    margin: 1%;
    margin-left: 2%;
}
.frame_2{
    text-align: center;
    
    display: block;
    background-color: beige;    
    backdrop-filter: blur(100px);
    height: 40pc;
    width: 35%;
    margin: 1%;
    border-radius: 25px;
    border: 2px;
}

.a{
    font-size: 25px;
   
    margin-left: 5%;
    font-family:  sans-serif;
}

#card_view{
    background-color: rgb(158, 194, 236);
    margin-top: -5pc;
    margin-left: 10%;
    width:76%;
    height: 17pc;
    display: flex;
    border-radius: 25px;
    margin-bottom: 5pc;
    
    
}

.footer{
    display:flexbox;
    background-color: darkgray;
    height: 15pc;


}
.social{
    padding-top: 80px;
    
    
    margin-left: 40%;
    align-items: centers;
    font-size: 20px;

}
.contact{
    margin-top: -5.5%;
margin-left: 5%;
font-size: 20px;
}
#item{
    margin-top: 0.5%;
    font-size: 20px;

}
#company{
    margin-left: 70%;
    margin-top: -3%;
    font-weight: 500;
    font-size: 30px;
}